<div class="pageTitle">Submit a job: Pytorch_MNIST_Example</div><div id="messageArea">&nbsp;</div><form id="jobForm" name="jobForm" method="post" enctype="multipart/form-data" ng-controller="JobSubmitCtrl">
<input type="hidden" id="appName" value="MLDL"><input type="hidden" id="cmdName" value="Pytorch_MNIST_Example.cmd">
<fieldset id="applicationSet" class="expanded">
<legend id="applicationHead" class="sectionTitle" onmouseout="changeLegend('applicationHead', 'out');return false" onmouseover="changeLegend('applicationHead', 'over');return false"><span onclick="toggleFieldset('applicationSet', 'applicationArea');return false">Basic Job Options</span></legend>
<table id="applicationArea" style="border:0; width:100%;">
<tr>
<td class="formLabel">Job Name</td><td class="formValue"><input type="text" id="JOB_NAME" name="JOB_NAME" ng-model="JOB_NAME" ng-init="JOB_NAME=''"></td>
</tr>
<tr>
<td class="formLabel">Number of Epochs</td><td class="formValue"><select id="NUM_EPOCHS" name="NUM_EPOCHS"><option value="">&lt;Use Default&gt;</option><option value="1">1</option><option value="2" selected>2</option><option value="4">4</option></select></td>
</tr>
<tr style="display:none;">
<td class="formLabel">Tensorboard&nbsp;
            <a href="#" class="helpOut" onclick="return false;" onmouseout="helpOut(this);return false" onmouseover="helpOn(this);return false" title="Start Tensorboard">?
            </a></td><td class="formValue"><input type="checkbox" id="TENSORBOARD" checked></td>
</tr>
<tr>
<td class="formLabel">Batch Size</td><td class="formValue"><select id="BATCH_SIZE" name="BATCH_SIZE"><option value="">&lt;Use Default&gt;</option><option value="8">8</option><option value="16" selected>16</option><option value="32">32</option><option value="64">64</option></select></td>
</tr>
<tr>
<td class="formLabel">Use GPU</td><td class="formValue"><input type="checkbox" id="GPU" checked></td>
</tr>
</table>
</fieldset>
<fieldset id="clusterSet" class="expanded">
<legend id="clusterHead" class="sectionTitle" onmouseout="changeLegend('clusterHead', 'out');return false" onmouseover="changeLegend('clusterHead', 'over');return false"><span onclick="toggleFieldset('clusterSet', 'clusterArea');return false">Advanced</span></legend>
<table id="clusterArea" style="border:0; width:100%;">
<tr>
<td colspan="2" class="formInfo">Requirements&nbsp;</td>
</tr>
<tr>
<td class="formLabel">Resource Requirement string&nbsp;
            <a href="#" class="helpOut" onclick="return false;" onmouseout="helpOut(this);return false" onmouseover="helpOn(this);return false" title="Example: swp > 15 &amp;&amp; maxmem > 100">?
            </a></td><td class="formValue"><input type="text" id="EXTRA_RES" name="EXTRA_RES" ng-model="EXTRA_RES" ng-init="EXTRA_RES='rusage[mem=2400] span[hosts=1]'"></td>
</tr>
<tr>
<td colspan="2" class="formInfo">Additional Job Options&nbsp;</td>
</tr>
<tr>
<td class="formLabel">Submit to this Queue</td><td class="formValue"><input id="cmdVal_QUEUE" type="hidden" value="$GUI_CONFDIR/application/options/queue.sh normal"><select id="QUEUE" name="QUEUE" ng-controller="ScriptCtrl"><option value="">&lt;Use Default&gt;</option><option ng-repeat="item in dynaOptions" ng-selected="{{item.selected == true}}" value="{{item.value}}">{{item.name}}</option></select></td>
</tr>
<tr>
<td class="formLabel">Project</td><td class="formValue"><input type="text" id="PRJ_NAME" name="PRJ_NAME" ng-model="PRJ_NAME" ng-init="PRJ_NAME='pytorch_mnist'"></td>
</tr>
<tr>
<td class="formLabel">Other bsub options&nbsp;
            <a href="#" class="helpOut" onclick="return false;" onmouseout="helpOut(this);return false" onmouseover="helpOn(this);return false" title="Example: -m myhost.<br/>Not all bsub options are supported. The following bsub options are not supported: -I, -Ip, -Is, -IS, -ISP, -ISs.">?
            </a></td><td class="formValue"><input type="text" id="EXTRA_PARAMS" name="EXTRA_PARAMS" ng-model="EXTRA_PARAMS" ng-init="EXTRA_PARAMS='-n 2 -We 8'"></td>
</tr>
</table>
</fieldset>
<fieldset id="fileSet" class="expanded">
<legend id="fileHead" class="sectionTitle" onmouseout="changeLegend('fileHead', 'out');return false" onmouseover="changeLegend('fileHead', 'over');return false"><span onclick="toggleFieldset('fileSet', 'fileArea');return false">Data</span></legend>
<table id="fileArea" style="border:0; width:100%;">
<tr>
<td class="formLabel">Output file</td><td class="formValue"><input type="text" id="OUTPUT_FILE" name="OUTPUT_FILE" value="stdout%J.txt"><span class="btn-file">Browse...
            <input type="file" id="sfile_OUTPUT_FILE" name="sfile_OUTPUT_FILE" multiple="true" onchange="angular.element(this).scope().showFile('sfile_OUTPUT_FILE')"></span></td>
</tr>
<tr>
<td class="formLabel">Error file</td><td class="formValue"><input type="text" id="ERROR_FILE" name="ERROR_FILE" value="stderr%J.txt"><span class="btn-file">Browse...
            <input type="file" id="sfile_ERROR_FILE" name="sfile_ERROR_FILE" multiple="true" onchange="angular.element(this).scope().showFile('sfile_ERROR_FILE')"></span></td>
</tr>
</table>
</fieldset>
<fieldset id="storeSet" class="expanded">
<legend id="storeHead" class="sectionTitle" onmouseout="changeLegend('storeHead', 'out');return false" onmouseover="changeLegend('storeHead', 'over');return false"><span onclick="toggleFieldset('storeSet', 'storeArea');return false" style="width:80%">Download Result</span></legend>
<table id="storeArea" style="border:0; width:100%;">
<tr>
<td class="formLabel"></td><td class="formValue"><input type="checkbox" id="autoStore" checked>Automatically download job results to a local directory</td>
</tr>
<tr>
<td class="formLabel">Local directory</td><td class="formValue"><input type="text" id="show_store_dir" onclick="angular.element(this).scope().showDir()"><span style="display:none"><input type="file" id="store_dir" onchange="angular.element(this).scope().showFile('store_dir')" nwdirectory="nwdirectory"></span></td>
</tr>
<tr>
<td class="formLabel">Download files that match&nbsp;
	                <a href="#" class="helpOut" onclick="return false;" onmouseout="helpOut(this);return false" onmouseover="helpOn(this);return false" title="Use a wildcard character(*) to specify file names to match. Separate multiple expressions with a comma(,). For example: abc*123.jou, *xyz.dat">?
	                </a></td><td class="formValue"><input type="text" id="DOWNLOAD_MATCH_FILES" name="DOWNLOAD_MATCH_FILES" ng-model="DOWNLOAD_MATCH_FILES" ng-init="DOWNLOAD_MATCH_FILES=''"></td>
</tr>
<tr>
<td class="formLabel">Compression<font color="red">&nbsp;*</font></td><td class="formValue"><select id="COMPRESSION" name="COMPRESSION"><option value="NONE" selected>NONE</option><option value="zip">zip</option><option value="tar.gz">tar.gz</option><option value="tar.bz2">tar.bz2</option></select></td>
</tr>
</table>
</fieldset>
<fieldset id="alertSet" class="expanded">
<legend id="alertHead" class="sectionTitle" onmouseout="changeLegend('alertHead', 'out');return false" onmouseover="changeLegend('alertHead', 'over');return false"><span onclick="toggleFieldset('alertSet', 'alertArea');return false" style="width:80%">Notification</span></legend>
<table id="alertArea" style="border:0; width:100%;">
<tr style="margin-bottom: 20px; display:block;">
<td style="padding-left:60px;">
            Specify when you want to be notified about your workload.
          </td>
</tr>
<tr>
<td style="padding-left:25px;font-weight: bold;"><input type="checkbox" id="rule_notify" name="rule_notify" onclick="toggleAlert(this, 'alertItems');">&nbsp;Notify me:</td>
</tr>
<tr id="alertItems">
<td style="padding-left:60px;">
<table style="boder:0; width:100%;">
<tr>
<td tabindex="0"><input type="checkbox" id="rule_start">&nbsp;When workload starts</td>
</tr>
<tr>
<td tabindex="0"><input type="checkbox" id="rule_end">&nbsp;When workload ends</td>
</tr>
<tr>
<td tabindex="0"><input type="checkbox" id="rule_fail">&nbsp;If workload exits</td>
</tr>
<tr>
<td tabindex="0"><input type="checkbox" id="rule_suspend">&nbsp;If workload is suspended</td>
</tr>
<tr>
<td tabindex="0"><input type="checkbox" id="rule_download">&nbsp;When workload's results are downloaded</td>
</tr>
<tr style="display:none">
<td><input type="checkbox" id="via_mobile">&nbsp;Mobile</td>
</tr>
<tr style="display:none">
<td><input type="checkbox" id="via_desktop">&nbsp;Desktop</td>
</tr>
<tr>
<td tabindex="0" style="padding-top: 15px; font-weight: bold;">
                  Notify Via:
                </td>
</tr>
<tr>
<td class="channel-box-primary" tooltip="Always enabled." tooltip-placement="bottom">
<div tabindex="0" id="browserchannel" class="icon-toggle-div" style="width:100px; cursor: not-allowed;">
<div class="inner">
<span class="icon-browser expanded center"></span>&nbsp;<span class="center">Browser</span>
</div>
</div>
</td><td class="channel-box-secondary">
<div tabindex="0" id="emailchannel" class="icon-toggle-div" style="width:90px;" tooltip-html="emailtooltip" tooltip-placement="bottom">
<div class="inner">
<span class="icon-email expanded center"></span>&nbsp;<span class="center">Email</span>
</div>
</div>
</td><td class="channel-box-secondary">
<div tabindex="0" id="desktopchannel" class="icon-toggle-div" style="width:140px;">
<div class="inner">
<span class="icon-desktop-client expanded center"></span>&nbsp;<span class="center">Desktop Client</span>
</div>
</div>
</td><td class="channel-box-secondary">
<div tabindex="0" id="mobilechannel" class="icon-toggle-div" style="width:90px;">
<div class="inner">
<span class="icon-mobile expanded center"></span>&nbsp;<span class="center">Mobile</span>
</div>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
</fieldset>
<div class="btnArea">
<input id="submitBtn" type="submit" class="btnStyle" value="Submit" ng-click="submit()">&nbsp;&nbsp;
      <input id="revertBtn" type="reset" class="btnStyle" value="Revert" onclick="window.location.reload();">&nbsp;&nbsp;
      <input id="closeBtn" type="button" class="btnStyle" value="Close" onclick="window.close();">
</div>
</form>
