<div class="pageTitle">Submit a job: Tensorboard</div><div id="messageArea">&nbsp;</div><form id="jobForm" name="jobForm" method="post" enctype="multipart/form-data" ng-controller="JobSubmitCtrl">
<input type="hidden" id="appName" value="MLDL"><input type="hidden" id="cmdName" value="Tensorboard.cmd">
<fieldset id="applicationSet" class="expanded">
<legend id="applicationHead" class="sectionTitle" onmouseout="changeLegend('applicationHead', 'out');return false" onmouseover="changeLegend('applicationHead', 'over');return false"><span onclick="toggleFieldset('applicationSet', 'applicationArea');return false">Basic Job Options</span></legend>
<table id="applicationArea" style="border:0; width:100%;">
<tr>
<td class="formLabel">Job Name</td><td class="formValue"><input type="text" id="JOB_NAME" name="JOB_NAME" ng-model="JOB_NAME" ng-init="JOB_NAME=''"></td>
</tr>
<tr>
<td class="formLabel">Log Directory<font color="red">&nbsp;*</font></td><td class="formValue"><input type="text" id="LOGDIR" name="LOGDIR" value="" required="required"><span class="btn-file">Browse...
            <input type="file" id="sfile_LOGDIR" name="sfile_LOGDIR" multiple="true" required="required" onchange="angular.element(this).scope().showFile('sfile_LOGDIR')"></span></td>
</tr>
<tr style="display:none;">
<td class="formLabel">Port&nbsp;
            <a href="#" class="helpOut" onclick="return false;" onmouseout="helpOut(this);return false" onmouseover="helpOn(this);return false" title="">?
            </a></td><td class="formValue"><select id="PORT" name="PORT"><option value="">&lt;Use Default&gt;</option><option value="7117">7117</option><option value="7118">7118</option><option value="7119">7119</option><option value="7120">7120</option><option value="7121">7121</option><option value="7122">7122</option><option value="7123">7123</option><option value="7124">7124</option><option value="7125" selected>7125</option></select></td>
</tr>
</table>
</fieldset>
<fieldset id="clusterSet" class="expanded">
<legend id="clusterHead" class="sectionTitle" onmouseout="changeLegend('clusterHead', 'out');return false" onmouseover="changeLegend('clusterHead', 'over');return false"><span onclick="toggleFieldset('clusterSet', 'clusterArea');return false">Advanced</span></legend>
<table id="clusterArea" style="border:0; width:100%;">
<tr>
<td colspan="2" class="formInfo">Requirements&nbsp;</td>
</tr>
<tr>
<td class="formLabel">Resource Requirement string&nbsp;
            <a href="#" class="helpOut" onclick="return false;" onmouseout="helpOut(this);return false" onmouseover="helpOn(this);return false" title="Example: swp > 15 &amp;&amp; maxmem > 100">?
            </a></td><td class="formValue"><input type="text" id="EXTRA_RES" name="EXTRA_RES" ng-model="EXTRA_RES" ng-init="EXTRA_RES='rusage[mem=1200]'"></td>
</tr>
<tr>
<td colspan="2" class="formInfo">Additional Job Options&nbsp;</td>
</tr>
<tr>
<td class="formLabel">Submit to this Queue</td><td class="formValue"><input id="cmdVal_QUEUE" type="hidden" value="$GUI_CONFDIR/application/options/queue.sh normal"><select id="QUEUE" name="QUEUE" ng-controller="ScriptCtrl"><option value="">&lt;Use Default&gt;</option><option ng-repeat="item in dynaOptions" ng-selected="{{item.selected == true}}" value="{{item.value}}">{{item.name}}</option></select></td>
</tr>
<tr>
<td class="formLabel">Project</td><td class="formValue"><input type="text" id="PRJ_NAME" name="PRJ_NAME" ng-model="PRJ_NAME" ng-init="PRJ_NAME=''"></td>
</tr>
<tr>
<td class="formLabel">Other bsub options&nbsp;
            <a href="#" class="helpOut" onclick="return false;" onmouseout="helpOut(this);return false" onmouseover="helpOn(this);return false" title="Example: -m myhost.<br/>Not all bsub options are supported. The following bsub options are not supported: -I, -Ip, -Is, -IS, -ISP, -ISs.">?
            </a></td><td class="formValue"><input type="text" id="EXTRA_PARAMS" name="EXTRA_PARAMS" ng-model="EXTRA_PARAMS" ng-init="EXTRA_PARAMS=''"></td>
</tr>
</table>
</fieldset>
<fieldset id="fileSet" class="expanded">
<legend id="fileHead" class="sectionTitle" onmouseout="changeLegend('fileHead', 'out');return false" onmouseover="changeLegend('fileHead', 'over');return false"><span onclick="toggleFieldset('fileSet', 'fileArea');return false">Data</span></legend>
<table id="fileArea" style="border:0; width:100%;">
<tr>
<td class="formLabel">Output file</td><td class="formValue"><input type="text" id="OUTPUT_FILE" name="OUTPUT_FILE" value="stdout%J.txt"><span class="btn-file">Browse...
            <input type="file" id="sfile_OUTPUT_FILE" name="sfile_OUTPUT_FILE" multiple="true" onchange="angular.element(this).scope().showFile('sfile_OUTPUT_FILE')"></span></td>
</tr>
<tr>
<td class="formLabel">Error file</td><td class="formValue"><input type="text" id="ERROR_FILE" name="ERROR_FILE" value=""><span class="btn-file">Browse...
            <input type="file" id="sfile_ERROR_FILE" name="sfile_ERROR_FILE" multiple="true" onchange="angular.element(this).scope().showFile('sfile_ERROR_FILE')"></span></td>
</tr>
</table>
</fieldset>
<fieldset id="storeSet" class="expanded">
<legend id="storeHead" class="sectionTitle" onmouseout="changeLegend('storeHead', 'out');return false" onmouseover="changeLegend('storeHead', 'over');return false"><span onclick="toggleFieldset('storeSet', 'storeArea');return false" style="width:80%">Download Result</span></legend>
<table id="storeArea" style="border:0; width:100%;">
<tr>
<td class="formLabel"></td><td class="formValue"><input type="checkbox" id="autoStore" checked>Automatically download job results to a local directory</td>
</tr>
<tr>
<td class="formLabel">Local directory</td><td class="formValue"><input type="text" id="show_store_dir" onclick="angular.element(this).scope().showDir()"><span style="display:none"><input type="file" id="store_dir" onchange="angular.element(this).scope().showFile('store_dir')" nwdirectory="nwdirectory"></span></td>
</tr>
<tr>
<td class="formLabel">Download files that match&nbsp;
                <a href="#" class="helpOut" onclick="return false;" onmouseout="helpOut(this);return false" onmouseover="helpOn(this);return false" title="Use a wildcard character(*) to specify file names to match. Separate multiple expressions with a comma(,). For example: abc*123.jou, *xyz.dat">?
                </a></td><td class="formValue"><input type="text" id="DOWNLOAD_MATCH_FILES" name="DOWNLOAD_MATCH_FILES" ng-model="DOWNLOAD_MATCH_FILES" ng-init="DOWNLOAD_MATCH_FILES=''"></td>
</tr>
<tr>
<td class="formLabel">Compression<font color="red">&nbsp;*</font></td><td class="formValue"><select id="COMPRESSION" name="COMPRESSION"><option value="NONE" selected>NONE</option><option value="zip">zip</option><option value="tar.gz">tar.gz</option><option value="tar.bz2">tar.bz2</option></select></td>
</tr>
</table>
</fieldset>
<fieldset id="alertSet" class="expanded">
<legend id="alertHead" class="sectionTitle" onmouseout="changeLegend('alertHead', 'out');return false" onmouseover="changeLegend('alertHead', 'over');return false"><span onclick="toggleFieldset('alertSet', 'alertArea');return false" style="width:80%">Notification</span></legend>
<table id="alertArea" style="border:0; width:100%;">
<tr style="margin-bottom: 20px; display:block;">
<td style="padding-left:60px;">
            Specify when you want to be notified about your job. The notifications are displayed in IBM Spectrum LSF Application Center Desktop Client and IBM Spectrum LSF mobile client.
          </td>
</tr>
<tr>
<td style="padding-left:25px;"><input type="checkbox" id="rule_notify" name="rule_notify" onclick="toggleAlert(this, 'alertItems');">&nbsp;Notify me:</td>
</tr>
<tr id="alertItems">
<td style="padding-left:60px;">
<table style="boder:0; width:100%;">
<tr>
<td><input type="checkbox" id="rule_start">&nbsp;When this job starts</td>
</tr>
<tr>
<td><input type="checkbox" id="rule_end">&nbsp;When this job ends</td>
</tr>
<tr>
<td><input type="checkbox" id="rule_fail">&nbsp;If this job fails</td>
</tr>
<tr>
<td><input type="checkbox" id="rule_suspend">&nbsp;If this job is suspended</td>
</tr>
<tr>
<td><input type="checkbox" id="rule_download">&nbsp;When this job's results are downloaded</td>
</tr>
<tr style="display:none">
<td><input type="checkbox" id="via_mobile">&nbsp;Mobile</td>
</tr>
<tr style="display:none">
<td><input type="checkbox" id="via_desktop">&nbsp;Desktop</td>
</tr>
</table>
</td>
</tr>
</table>
</fieldset>
<div class="btnArea">
<input id="submitBtn" type="submit" class="btnStyle" value="Submit" ng-click="submit()">&nbsp;&nbsp;
      <input id="revertBtn" type="reset" class="btnStyle" value="Revert" onclick="window.location.reload();">&nbsp;&nbsp;
      <input id="closeBtn" type="button" class="btnStyle" value="Close" onclick="window.close();">
</div>
</form>
